# 01. Importing Libraries

In [1]:
#import libraries

import pandas as pd

import numpy as np

import os

# 02. Importing Data

In [2]:
#importing data (orders_products_combined)
df_orders_products_combined = pd.read_pickle(r'C:\Users\USER\Documents\CF\Phyton\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl')

In [3]:
# check the shape is the same as df_merged_large --> YES
df_orders_products_combined.shape

(32434489, 12)

In [4]:
df_orders_products_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [5]:
#importing data (products)
#defining path
path = r'C:\Users\USER\Documents\CF\Phyton\Instacart Basket Analysis'
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [6]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

# 03 Merge

### Dealing with MemoryError

In [7]:
df_orders_products_combined.columns

Index(['Unnamed: 0', 'order_id', 'user_id', 'eval_set', 'order_number',
       'order_dow', 'order_hour_of_day', 'days_since_prior_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

In [8]:
df_orders_products_combined.drop(columns = {'eval_set', 'Unnamed: 0', '_merge'}, inplace = True)

In [9]:
df_orders_products_combined.columns

Index(['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order', 'product_id', 'add_to_cart_order',
       'reordered'],
      dtype='object')

In [10]:
df_orders_products_combined.rename(columns = {'order_dow':'orders_day_of_week', 'order_hour_of_day':'order_time_of_day'}, inplace = True)

In [11]:
df_orders_products_combined.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_time_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered'],
      dtype='object')

In [12]:
# Change types for df_orders_products_combined data set

df_orders_products_combined['order_id']=df_orders_products_combined['order_id'].astype('int32')
df_orders_products_combined['user_id'] = df_orders_products_combined['user_id'].astype('int32')
df_orders_products_combined['order_number']=df_orders_products_combined['order_number'].astype('int8')
df_orders_products_combined['orders_day_of_week']=df_orders_products_combined['orders_day_of_week'].astype('int8')
df_orders_products_combined['order_time_of_day']=df_orders_products_combined['order_time_of_day'].astype('int8')
df_orders_products_combined['days_since_prior_order']=df_orders_products_combined['days_since_prior_order'].astype('float16')

In [13]:
# Check output to see memory usage

df_orders_products_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_time_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
dtypes: float16(1), int32(2), int64(3), int8(3)
memory usage: 1.1 GB

In [14]:
df_orders_products_combined['product_id'] =df_orders_products_combined['product_id'].astype('int32')
df_orders_products_combined['reordered']=df_orders_products_combined['reordered'].astype('int8')
df_orders_products_combined['add_to_cart_order']=df_orders_products_combined['add_to_cart_order'].astype('int32')

In [15]:
# Check output to see memory usage

df_orders_products_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_time_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       int32
 8   reordered               int8
dtypes: float16(1), int32(4), int8(4)
memory usage: 680.5 MB

 Further columns from other data sets

df['aisle_id'] = df['aisle_id'].astype('int8')
df['department_id'] = df['department_id'].astype('int8')
df['prices'] = df['prices'].astype('float16')
df['age'] = df['age'].astype('int8')
df['n_dependants'] = df['n_dependants'].astype('int8')
df['income'] = df['income'].astype('int8')

In [26]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     49672 non-null  int64
 1   product_id     49672 non-null  int64
 2   product_name   49672 non-null  object
 3   aisle_id       49672 non-null  int64
 4   department_id  49672 non-null  int64
 5   prices         49672 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.3+ MB

In [35]:
#drop coulmn what don't needed

df_prods.drop(columns = {'Unnamed: 0'}, inplace = True)

In [ ]:
df_prods['product_id'] =df_prods['product_id'].astype('int32')
df_prods['aisle_id'] = df_prods['aisle_id'].astype('int8')
df_prods['department_id'] = df_prods['department_id'].astype('int8')
df_prods['prices'] = df_prods['prices'].astype('float16')

In [37]:
df_prods['product_id'] =df_prods['product_id'].astype('int32')

In [38]:
df_prods['aisle_id'] = df_prods['aisle_id'].astype('int8')

In [39]:
df_prods['department_id'] = df_prods['department_id'].astype('int8')

In [40]:
df_prods['prices'] = df_prods['prices'].astype('float16')

In [41]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int32
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int8
 3   department_id  49672 non-null  int8
 4   prices         49672 non-null  float16
dtypes: float16(1), int32(1), int8(2), object(1)
memory usage: 776.3+ KB

In [16]:
# Attemp a merge

#Example: ords_prods_merged = ords.merge(ords_prods, on = ['order_id'], how = 'outer', indicator = True)

# merge df_orders_products_combined and df_prods --> df_orders_products_merged
df_orders_products_merged = df_prods.merge(df_orders_products_combined, on = ['product_id'],  how = 'outer', indicator = True)

In [18]:
#Confirm the results of the merge using the merge flag.
df_orders_products_merged['_merge'].value_counts()

_merge
both          32404859
right_only       30200
left_only           11
Name: count, dtype: int64

In [19]:
df_orders_products_merged.shape

(32435070, 15)

# Export pickle

In [17]:
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))