# 01. Importing Libraries

In [1]:
#import libraries

import pandas as pd

import numpy as np

import os

# 02. Importing Data

In [2]:
#importing data with shortcut
#defining path
path = r'C:\Users\USER\Documents\CF\Phyton\Instacart Basket Analysis'
#importing data (orders)
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)
#importing data (products)
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)
#importing data (orders_products_prior)
df_ords_prior = pd.read_csv(r'C:\Users\USER\Documents\CF\Phyton\Instacart Basket Analysis\02 Data\Original Data\orders_products_prior.csv')

In [3]:
#check the dimensions in new df
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df_ords_prior.shape

(32434489, 4)

# 03 Merge

In [4]:
# df_ords + df_ords_prior = df_merged_large
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [5]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [6]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [7]:
df_merged_large.shape

(32434489, 12)

# 04 Export pickle

In [10]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))